
body {
  margin: 0;
  padding: 5;
  background: linear-gradient(-45deg, #000000, #1b061e, #110622, #170924);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

/* Gradient animation */
@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


